#swiper-wrapper-c34d44c25139cdcb{
    height: 50vh;
}

.swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

div.swiper-button-next, div.swiper-button-prev{
    color: $blue;
}

