.portfolio-shortcode-container{
    display: flex;
    justify-content: center;
    padding: 0;
}

.portfolio-shortcode-img{
    width: 100vw;
    height: auto;
    border: 1px solid rgba(72, 124, 137, 0.50);
}

.portfolio-iframe{
    width: 100%;
    height: 80vh;
    border: 1px solid rgba(72, 124, 137, 0.50);
    border-radius: 8px;
}

#portfolio-item-title{
    font-size: 2.0rem;
}

@include media-breakpoint-up(md) { 
    #portfolio-item-title{
        font-size: 3rem;
    }
    #portfolio-item-title{
        font-size: 2.5rem;
    }
}

 @include media-breakpoint-up(sm){
    .portfolio-shortcode-container{
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .portfolio-shortcode-img{
        border-radius: 8px;
        height: 70vh;
        width: auto;
    }
 }
