#skills-section {
    background-color: rgba($color: $blue, $alpha: 0.15);
}

a.card-link {
    margin: 0 !important;
}

#featured-card {
    background-color: white;
    border-radius: 8px;
}

#image-row {
    flex: 2; /* Adjust the ratio as needed */
}

/* Reduce opacity of non-active links and apply a transition */
/* Set the initial styles for the links */
.card-link {
    opacity: 0.5;
    transition: opacity 0.15s ease-in-out;
  }
  
  /* Style the active link */
  .card-link.active {
    opacity: 1;
    font-weight: 500;
  }
  

/* Create a square container for the image on mobile, otherwise just have the img fill up the container */
.img-container {
    position: relative;
    padding-bottom: 100%;
    width: 100%;
    height: 100%;
}

.featured-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px 8px 8px 0px;
    transition: all 0.3s ease-in-out;
}

#card-links{
    height: 100%;
    gap: 2rem;
    padding: 3rem;
}

/* Media query for screens larger than 'md' (medium) */
@include media-breakpoint-up(md) {
    .img-container {
        padding-bottom: 0;
    }
    #card-links{
        gap: 6rem;
    }

}
