#intro-header{
  height: 35vh;
  background-color: $blue;
  padding: 2rem;
}

#mission-statement{
  color: $beige;
  font-family: ofelia-text, sans-serif;
  font-style: italic;
  font-weight: 200;
  font-size: 1.5rem;
  margin-bottom: 0;
}

#karli-vare{
  color: $beige;
  font-family: ofelia-text, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
}

#intro-flower{
  padding-left: 8px;
  width: 30px;
}

///MEDIA QUERY MEDIUM///
@include media-breakpoint-up(md) {
  #intro-header{
    height: 50vh;
  }
  
  #mission-statement{
    font-size: 2.5rem;
  }
  
  #karli-vare{
    font-size: 2.5rem;
  }
  
  #intro-flower{
    width: 30px;
  }
}

///MEDIA QUERY LARGE///
@include media-breakpoint-up(lg) {
  #intro-header{
    height: 85vh;
    padding: 4rem 2rem;
  }
  
  #mission-statement{
    font-size: 4rem;
    line-height: 90px;
  }
  
  #karli-vare{
    font-size: 4rem;
  }
  
  #intro-flower{
    width: 60px;
  }
}