{{ define "main"}}
<div class="container-fluid d-flex flex-column align-items-center" style="gap: 4rem;">
  <section id="portfolio-header" class="container-fluid" style="margin-top: 4rem;">
    <div id="dc-title-links" class="container d-flex flex-column flex-lg-row justify-content-between align-items-start mx-auto" style="padding-left: 0; padding-right: 0;">
      <!-- Title on the left -->
      <div id="dc-title-tags" class="d-flex flex-column">
        <div>
          <h1 class="portfolio-title">{{.Title}}</h1>
        </div>
        <div id="meta-text-container" class="d-flex flex-column flex-md-row">
          <p class="meta-text all-caps-text">2022</p>
          <p class="meta-text all-caps-text">UI/UX Designer</p>
          <p class="meta-text all-caps-text">Adobe XD</p>
        </div>
      </div>
  
      <!-- Logo and Project Link on the right -->
      <div id="dc-proto-links" class="d-flex align-items-center justify-content-start" style="gap: 24px;">
        <a target=”_blank” href="https://xd.adobe.com/view/f865ff50-93ce-41ad-ace6-ae75ce148542-ad36/" class="btn btn-primary project-link-btn">View Web Prototype</a>
        <a target=”_blank” href="https://xd.adobe.com/view/1164c340-27f8-4be5-afe4-9c0a523b8188-4437/" class="btn btn-primary project-link-btn">View Mobile Prototype</a>
      </div>
    </div>
  </section>
  
  <section id="problem-container" class="container">
      <p class="all-caps-text">Challenge</p>
      <p style="color: white; font-size: 1.25rem;" class="body">{{.Params.problem}}</p>
  </section>
  
  <section id="image-text-section" class="container" style="padding-left: 0; padding-right: 0;">
    <div class="row flex-md-row-reverse">
      <!-- Text on the right -->
      <div class="col-12 col-md-5 align-self-center" style="padding: 0rem 2rem;">
        <p id="context-text" class="all-caps-text">Context</p>
        <p class="body">{{.Params.context}}</p>
      </div>
      <!-- Image on the left -->
      <div id="context-img-container" style="padding: 0rem 2rem;" class="col-12 col-md-7">
        <img src="/portfolio-img/dc-main-content.jpg" alt="Description" class="img-fluid" style="border-radius: 16px;">
      </div>
    </div>
  </section>

  <section id="image-text-section" class="container" style="padding-left: 0; padding-right: 0;">
    <div class="row">  
      <!-- Text on the left -->
      <div id="action-text" class="col-12 col-lg-5" style="padding: 0rem 2rem;">
        <p class="all-caps-text">Action</p>
        <p class="body">{{.Params.action1}}<br><br>{{.Params.action2}}
      </div>

      <!-- Image on the right -->
      <div id="video-container" style="padding: 0rem 2rem;" class="d-flex justify-content-center col-12 col-lg-7">
        <video class="DC-video" autoplay loop muted playsinline>
          <source src="/portfolio-img/DC-movie.mov" type="video/mp4">
          Your browser does not support the video tag.
        </video>       
      </div>
    </div>
  </section>

  <!--Swiper carousel-->
  
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <!-- Slide 1 -->
      <div class="swiper-slide flex-md-column-reverse">
        <div class="slide-text d-flex align-items-start" style="gap:2rem;">
          <p class="portfolio-title" style="display: flex; align-items:flex-end; margin-bottom: 32px;">0.1</p>
          <div class="slide-body d-flex flex-column align-items-start">
            <p class="subtitle" style="margin-bottom: 0;">Competitor Research</p>
            <p class="body">Snapshots from research compiled in a digital notebook focused on current strengths and weaknesses of The Daily Campus website as well as other university news publications.</p>
          </div>
        </div>
        <div class="carousel-img-container">
          <img src="/portfolio-img/dc-competitor-research.jpg" alt="Slide 1" class="slide-image">
        </div>
      </div>
      <!-- Slide 2 -->
      <div class="swiper-slide flex-md-column-reverse">
        <div class="slide-text d-flex align-items-start" style="gap:2rem;">
          <p class="portfolio-title" style="display: flex; align-items:flex-end; margin-bottom: 32px;">0.2</p>
          <div class="slide-body d-flex flex-column align-items-start">
            <p class="subtitle" style="margin-bottom: 0;">Sketching</p>
            <p class="body">Sketch ideas for mobile and web layouts.</p>
          </div>
        </div>
        <div class="carousel-img-container">
          <img src="/portfolio-img/dc-sketching.jpg" alt="Slide 1" class="slide-image">
        </div>
      </div>
      <!-- Slide 3 -->
      <div class="swiper-slide flex-md-column-reverse">
        <div class="slide-text d-flex align-items-start" style="gap:2rem;">
          <p class="portfolio-title" style="display: flex; align-items:flex-end; margin-bottom: 32px;">0.3</p>
          <div class="slide-body d-flex flex-column align-items-start">
            <p class="subtitle" style="margin-bottom: 0;">Web Wireframes</p>
            <p class="body">Web wireframes for the home, category, and article pages. Created with Adobe XD.</p>
          </div>
        </div>
        <div class="carousel-img-container">
          <img src="/portfolio-img/dc-web-wireframes.jpg" alt="Slide 1" class="slide-image">
        </div>
      </div>
      <!-- Slide 4 -->
      <div class="swiper-slide flex-md-column-reverse">
        <div class="slide-text d-flex align-items-start" style="gap:2rem;">
          <p class="portfolio-title" style="display: flex; align-items:flex-end; margin-bottom: 32px;">0.4</p>
          <div class="slide-body d-flex flex-column align-items-start">
            <p class="subtitle" style="margin-bottom: 0;">Mobile Wireframes</p>
            <p class="body">Mobile wireframes for the home, category, and article pages. Created with Adobe XD.</p>
          </div>
        </div>
        <div class="carousel-img-container">
          <img src="/portfolio-img/dc-mobile-wireframes.jpg" alt="Slide 1" class="slide-image">
        </div>
      </div>
      <!-- Slide 5 -->
      <div class="swiper-slide flex-md-column-reverse">
        <div class="slide-text d-flex align-items-start" style="gap:2rem;">
          <p class="portfolio-title" style="display: flex; align-items:flex-end; margin-bottom: 32px;">0.5</p>
          <div class="slide-body d-flex flex-column align-items-start">
            <p class="subtitle" style="margin-bottom: 0;">Visual Design</p>
            <p class="body">Refining the visual design guidelines for the project, including color, typography, and icons.</p>
          </div>
        </div>
        <div class="carousel-img-container">
          <img src="/portfolio-img/dc-visual-design.jpg" alt="Slide 1" class="slide-image">
        </div>
      </div>
      <!-- Slide 6 -->
      <div class="swiper-slide flex-md-column-reverse">
        <div class="slide-text d-flex align-items-start" style="gap:2rem;">
          <p class="portfolio-title" style="display: flex; align-items:flex-end; margin-bottom: 32px;">0.6</p>
          <div class="slide-body d-flex flex-column align-items-start">
            <p class="subtitle" style="margin-bottom: 0;">Light Prototype</p>
            <p class="body"><a style="text-decoration: underline;" target="_blank" href="https://xd.adobe.com/view/f865ff50-93ce-41ad-ace6-ae75ce148542-ad36/">View the web prototype here.</a><br><a style="text-decoration: underline;" target="_blank" href="https://xd.adobe.com/view/1164c340-27f8-4be5-afe4-9c0a523b8188-4437/">View the mobile prototype here.</a></p>
          </div>
        </div>
        <div class="carousel-img-container">
          <!-- <img src="/portfolio-img/dc-visual-design.jpg" alt="Slide 1" class="slide-image"> -->
          <video class="DC-video-slideshow slide-image" autoplay loop muted playsinline>
            <source src="/portfolio-img/DC-movie.mov" type="video/mp4">
            Your browser does not support the video tag.
          </video> 
        </div>
      </div>
    </div>
  </div>
  
  

  <section id="impact-container" class="container">
    <p class="all-caps-text">Impact</p>
    <p style="font-size: 1.25rem; color: white;" class="body">{{.Params.impact}}</p>
  </section>
  
</div>




<script>
  var swiper = new Swiper('.swiper-container', {
  slidesPerView: 1.25, // Adjust this to control how much of the side slides are visible
  spaceBetween: 32, // Space between slides in pixels
  centeredSlides: true, // Centers the active slide
  loop: true, // Infinite loop
  // Navigation configuration
  navigation: {
    nextEl: '.swiper-button-next', // Default navigation button
    prevEl: '.swiper-button-prev', // Default navigation button
  },
  
  // Pagination configuration
  pagination: {
    el: '.swiper-pagination',
    clickable: true, // Allows pagination bullets to be clickable
  },
  
  breakpoints: {
    // Adjust settings for larger screens
    576: {
      spaceBetween: 32,
      slidesPerView: 1.5,
    },
    768: {
      spaceBetween: 200,
      slidesPerView: 1.5,
    },
    992: {
      spaceBetween: 100,
      slidesPerView: 1.5,
    },
    1200:{
      spaceBetween: 200,
      slidesPerView: 1.5,
    },
    1400:{
      spaceBetween: 200,
      slidesPerView: 2.0,
    }
  }
});

</script>


{{end}}


