<section id="contact-form-section" class="container-fluid bg-light">
    <div id="form-container">
      <div class="row">
        <div id="form-graphic-container" class="col-12 col-md-5">
        </div>
        <div class="col-12 col-md-7 p-5">
          <h2 class="subtitle">Contact Me</h2>
          <form action="https://formsubmit.co/kmvare@gmail.com" method="POST" id="contact-form">
            <input type="hidden" name="_subject" value="Karli Vare Portfolio - New Message">
              <div class="form-group">
                <label style="display: none;" for="nameInput">Name</label>
                <input name="name" placeholder="Name" type="text" class="form-control" id="nameInput">
              </div>
              <div class="form-group">
                <label style="display: none;" for="emailInput">Email</label>
                <input name="email" placeholder="Email" type="email" class="form-control" id="emailInput">
              </div>
              <div class="form-group">
                <label style="display: none;" for="messageInput">Message</label>
                <textarea name="message" placeholder="Message" class="form-control" name="messageInput" id="messageInput" maxlength="500"></textarea>
              </div>
              <button id="submit-btn" type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </section>

  