{{ $portfolioData := getJSON "/data/portfolio.json" }}

{{ $targetCategory := "Nutmeg" }}

{{ with $portfolioData }}
<section id="portfolio-content-container" class="bg-light container-fluid header">
    <div id="portfolio-content" class="container">
        <section class="row" id="nutmeg-content">
            <div class="col-lg-2">
                <h2 class="subtitle">Nutmeg Publishing</h2>
            </div>
            <div id="card-container" class="col-lg-10 d-lg-flex">
                {{ range . }}
                {{ if eq .category $targetCategory }}

                <!-- Each portfolio card as an <article> -->
                <article class="portfolio-card" data-bs-toggle="modal" data-bs-target="#portfolioModal" data-title="{{ .title }}" data-image="{{ .image }}">
                    <img class="portfolio-card-img" src="{{ .image }}" alt="{{ .title }}">
                    <h3 class="portfolio-card-title thirdtitle">{{ .title }} ({{ .year }})</h3>
                    <p class="portfolio-card-medium body">{{ .medium }}</p>
                </article>

                <!-- Single Bootstrap Modal -->
                <div class="modal fade" id="portfolioModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <img class="img-fluid" id="modalImage" src="" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                {{ end }}
                {{ end }}
            </div>
        </section>
    </div>
</section>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var modal = document.getElementById('portfolioModal');
        var modalImage = modal.querySelector('#modalImage');

        modal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget;
            var image = button.getAttribute('data-image');
            modalImage.src = image;
        });
        
        modal.addEventListener('hidden.bs.modal', function () {
            modalImage.src = ""; // Clear the modal image when the modal is closed
        });
    });
</script>
{{ end }}
