{{ $portfolioData := getJSON "/data/portfolio.json" }}

{{ $targetCategory := "UI/UX" }}

{{ with $portfolioData }}
<section id="portfolio-content-container" class="bg-light container-fluid header">
    <div id="portfolio-content" class="container">
        <section class="row" id="uiux-content">
            <div class="col-12">
                <h2 class="subtitle">UI/UX</h2>
            </div>
            <div id="card-container" class="col-12">
                <div id="cards-inner-container">
                    {{ range . }}
                    {{ if eq .category $targetCategory }}
    
                    <!-- Each portfolio card as an <article> -->
                        <a class="portfolio-link" href="{{ .url }}">
                        <article class="portfolio-card">
                            <img style="height: 162.82px; width: 250px; object-fit: cover;" class="portfolio-card-img" src="{{ .image }}" alt="{{ .title }}">
                            <h3 class="portfolio-card-title body">{{ .title }} ({{ .year }})</h3>
                            <!-- <p class="portfolio-card-medium body">{{ .medium }}</p> -->
                            <!-- Add other card content here (image, year, medium) -->
                        </article>
                        </a>
                    {{ end }}
                    {{ end }}
                </div>
            </div>
        </section>
    </div>
</section>
{{ end }}
