{{ define "main"}}
    {{partial "home/intro.html"}}
    <!-- {{partial "home/skills.html"}} -->
    {{partial "home/featured-new.html"}}
    {{partial "home/nutmeg-title.html"}}
    {{partial "home/nutmeg-bg.html"}}
    {{partial "home/nutmeg-button.html"}}
    {{partial "common/contact-form.html"}}

     <!-- JavaScript code -->
     <script>
        //define variables
        // Get the profile picture container element
        const container = document.getElementById("flower-svg");
        // Get the clip element
        const clip = document.getElementById("clip");

        //define transform origin function
        function setTransformOrigin() {
            const containerRect = container.getBoundingClientRect();
            const centerX = containerRect.width;
            const centerY = containerRect.height;

            // Check if the browser is Safari
            const isSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);

            // Set transform origin based on browser
            if (isSafari) {
                // Use different transform origin for Safari
                clip.style.transformOrigin = `${centerX / 2}px ${centerY / 2}px`;
                console.log("centerX Safari: " + centerX);
                console.log("centerY Safari: " + centerY);
            } else {
                // Use default transform origin for other browsers
                clip.style.transformOrigin = `${centerX}px ${centerY}px`;
                console.log("centerX Chrome: " + centerX);
                console.log("centerY Chrome: " + centerY);
            }
        }

        // window.addEventListener('load', function() {
        //     var clip = document.getElementById('clip');
        //     clip.classList.add('animate-flower');
        // });

        // Call the function initially
        setTransformOrigin();

         // Add event listener for window load to start the animation with a delay
        window.addEventListener('load', function() {
            setTransformOrigin();
            setTimeout(function() {
                clip.classList.add('animate-flower');
            }, 1000); // 1-second delay
        });

        // Add event listener for window resize to reset the transform origin
        window.addEventListener('resize', setTransformOrigin);

    </script>
{{end}}
