#card-container{
    gap: 2rem;
    overflow-x: scroll;
    white-space: nowrap;
    scroll-snap-type: x proximity;
}

.portfolio-card{
    scroll-snap-align: start;
    margin-top: 1rem;
}

.portfolio-card-img{
    max-width: 350px;
    border-radius: 8px;
    transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
    box-shadow: 0px 5px 3px 0px rgba(71, 61, 51, 0.0);
}

h3.portfolio-card-title, p.portfolio-card-medium{
    text-wrap: wrap;
    max-width: 350px;
}

a{
    text-decoration: none;
}

a:hover .portfolio-card-img{
    transform: translateY(-10px);
    box-shadow: 0px 5px 3px 0px rgba(71, 61, 51, 0.35);
    cursor: pointer;
}





