.portfolio-card-img-container{
    overflow: hidden;
    border-radius: 8px;
    border: 1px solid rgba(72,124,137,.5);
    width: 100%;
    aspect-ratio: 116 / 75;
}

.portfolio-card-img{
    height: 100%;
    transition: transform 0.2s ease-in-out;
    width: 100%;
    display: block;
    object-fit: cover;
}

.portfolio-card-title{
    font-family: ofelia-display, sans-serif;
    font-style: normal;
    color: $brown;
    font-weight: 500;
    font-size: 1.25rem;
    margin-top: 1rem;
}

a{
    text-decoration: none;
}


.portfolio-card-img-container:hover .portfolio-card-img{
    transform: scale(1.1);
    cursor: pointer;
}

.arrow-icon {
    margin-left: 8px;
    transition: transform 0.3s ease;
}

#portfolio-content a:hover .arrow-icon {
    transform: translateX(4px);
}


div#portfolio-content.container.grid {
    display: grid;
    grid-template-columns: 1fr; /* Single column by default */
    gap: 16px 64px; /* Space between grid items */
}

@include media-breakpoint-up(lg) {
    div#portfolio-content.container.grid {
      grid-template-columns: 1fr 1fr; /* Two columns on medium screens and above */
    }
}







