<section id="featured-section" class="container-fluid">
    <div id="featured-container" class="container">
      <h2 class="subtitle">Featured Work</h2>
      <div id="featured-work-row" class="row">
        
        <div class="col-lg-4">
          <a href="/blog/yarn-over/">
            <div class="card h-100">
              <img src="/portfolio-img/yarnover-large-thumbnail.jpg" alt="" class="card-img-top img-fluid">
              <div class="card-body p-4 d-flex flex-column justify-content-between"> <!-- Flex container with space-between -->
                <div class="featured-text-container">
                  <h3 class="featured-title">Yarn Over</h3>
                  <h3 class="featured-subtitle body">Concept crochet pattern marketplace</h3>
                </div>
                <h3 class="all-caps-text d-flex align-items-center">
                  VIEW PROJECT 
                  <svg class="arrow-icon" width="12" height="12" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 8h11.793" stroke="currentColor" stroke-width="2" stroke-linecap="round" fill="none"/>
                    <path d="M9 3l5 5-5 5" stroke="currentColor" stroke-width="2" stroke-linecap="round" fill="none"/>
                  </svg>
                </h3>
              </div>
            </div>
          </a>
        </div>
        
        <div class="col-lg-4">
          <a href="/blog/news-website-redesign"> 
            <div class="card h-100">
              <img src="/portfolio-img/dc-main-content.jpg" alt="" class="card-img-top img-fluid">
              <div class="card-body p-4 d-flex flex-column justify-content-between"> <!-- Flex container with space-between -->
                <div class="featured-text-container">
                  <h3 class="featured-title">The Daily Campus</h3>
                  <h3 class="featured-subtitle body">News website redesign</h3>
                </div>
                <h3 class="all-caps-text d-flex align-items-center">
                  VIEW PROJECT 
                  <svg class="arrow-icon" width="12" height="12" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 8h11.793" stroke="currentColor" stroke-width="2" stroke-linecap="round" fill="none"/>
                    <path d="M9 3l5 5-5 5" stroke="currentColor" stroke-width="2" stroke-linecap="round" fill="none"/>
                  </svg>
                </h3>
              </div>
            </div>
          </a>
        </div>
        
        <div class="col-lg-4">
          <a href="/blog/dxg"> 
            <div class="card h-100">
              <img src="/portfolio-img/outreach-engagement-main-content.jpg" alt="" class="card-img-top img-fluid">
              <div class="card-body p-4 d-flex flex-column justify-content-between"> <!-- Flex container with space-between -->
                <div class="featured-text-container">
                  <h3 class="featured-title">UConn Office of Outreach and Engagement</h3>
                  <h3 class="featured-subtitle body">Website and community based programs map</h3>
                </div>
                <h3 class="all-caps-text d-flex align-items-center">
                  VIEW PROJECT 
                  <svg class="arrow-icon" width="12" height="12" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 8h11.793" stroke="currentColor" stroke-width="2" stroke-linecap="round" fill="none"/>
                    <path d="M9 3l5 5-5 5" stroke="currentColor" stroke-width="2" stroke-linecap="round" fill="none"/>
                  </svg>
                </h3>
              </div>
            </div>
          </a>   
        </div>
        
      </div>
    </div>
  </section>