<section id="skills-section" class="container-fluid">
    <div class="container p-4">
        <h2 class="subtitle">Featured Work</h2>
        <div class="card">
            <div class="card-body">
              <div class="row">
                <!-- Text Side (3/5 of the container) -->
                <div class="col-md-7">
                    <div id="card-links" class="d-flex flex-column">
                        <a href="#" class="card-link">Link 1</a>
                        <a href="#" class="card-link">Link 2</a>
                        <a href="#" class="card-link">Link 3</a>
                    </div>
                </div>
                <!-- Image Side (2/5 of the container) -->
                <div class="col-md-5">
                  <img src="your-image.jpg" alt="Image" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
    </div>
</section>