<section id="featured-section" class="container-fluid">
    <div id="featured-container" class="container">
      <h2 class="subtitle">Featured Work</h2>
      <div id="featured-work-row" class="row">
        <div class="col-lg-4">
            <div class="card h-100">
              <img src="/portfolio-img/yarnover-large-thumbnail.jpg" alt="" class="card-img-top img-fluid">
              <div class="card-body">
                <h5 class="card-title">Senior Project- Crochet Pattern Marketplace Design</h5>
                <a href="/blog/yarn-over/" class="btn btn-primary">View Project</a>
              </div>
            </div>
          </div>
        <div class="col-lg-4">
          <div class="card h-100">
            <img src="/portfolio-img/DC-large-thumbnail.jpg" alt="" class="card-img-top img-fluid">
            <div class="card-body">
              <h5 class="card-title">News Publication Redesign - The Daily Campus</h5>
              <a href="/blog/news-publication-redesign/" class="btn btn-primary">View Project</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card h-100">
            <img src="/portfolio-img/covid-timeline1.jpg" alt="" class="card-img-top img-fluid">
            <div class="card-body">
              <h5 class="card-title">Covid Timeline - Nutmeg Publishing </h5>
              <a href="/portfolio-img/covid-timeline1.jpg" class="btn btn-primary">View Project</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>