<section id="intro-header" class="container-fluid header">
    <div class="row container mx-auto align-items-center">
      <div class="col-12 col-md-6">
        <h1 class="title">Karli Vare</h1>
        <p class="body text-white">I'm a senior at the University of Connecticut majoring in digital media and design. I'm passionate about blending art and technology to create intuitive and vibrant digital experiences. With a diverse skillset spanning UI/UX design, graphic design, and front-end web development, I'm here to bring your creative visions to life. </p>
      </div>
      <div id="flower-mask-img-container" class="col-12 col-md-6 text-center">
        <img id="flower-mask-img" src="/svg/flower-placeholder.svg" alt="">
      </div>
    </div>
</section>