<section id="skills-section" class="container-fluid bg-light">
    <div class="container text-center p-4">
      <h2 class="subtitle">I have skills in:</h2>
      <div class="row">
        <ul id="skills-list" class="d-flex flex-column justify-content-center align-items-center flex-md-row">
          <li class="body"><a href="">Branding Redesign</a></li>
          <li class="body"><a href="">Publishing Design</a></li>
          <li class="body"><a href="">Lorem ipsum dolor</a></li>
        </ul>
      </div>
    </div>
</section>