<section class="portfolio-shortcode-section bg-light">
    <div class="portfolio-shortcode-container container">
      <!-- Slider main container -->
      <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper text-center">
          <!-- Slides -->
          <div class="swiper-slide"><a href="https://github.com/DMD-4470/beehive"><img src="/portfolio-img/beehive-1.jpg" alt=""></a></div>
          <div class="swiper-slide"><a href="https://github.com/DMD-4470/beehive"><img src="/portfolio-img/beehive-2.jpg" alt=""></a></div>
          <div class="swiper-slide"><a href="https://github.com/DMD-4470/beehive"><img src="/portfolio-img/beehive-3.jpg" alt=""></a></div>
          <div class="swiper-slide"><a href="https://github.com/DMD-4470/beehive"><img src="/portfolio-img/beehive-4.jpg" alt=""></a></div>
        </div>
  
        
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
  
      </div>
    </div>
  </section>
  
  <script>
    const swiper = new Swiper('.swiper', {
    // Optional parameters
    direction: 'horizontal',
    loop: true,
    centeredSlides: true,
  
    // Navigation arrows
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  
    // And if we need scrollbar
    pagination: {
        el: '.swiper-pagination',
        clickable: true, // Optional: Enable clickable bullets
    }
  });
  </script>
  