<section class="portfolio-shortcode-section bg-light">
    <div class="portfolio-shortcode-container container mx-auto d-flex flex-column flex-lg-row justify-content-between">
        <img class="portfolio-shortcode-img" src="/portfolio-img/BFAposter-day.jpg" alt="BFA senior exhibition poster day">
        <img class="portfolio-shortcode-img" src="/portfolio-img/BFAposter-morning.jpg" alt="BFA senior exhibition poster morning">
        <img class="portfolio-shortcode-img" src="/portfolio-img/BFAposter-night.jpg" alt="BFA senior exhibition poster night">
    </div>
</section>
