<section class="portfolio-shortcode-section bg-light">
  <div class="portoflio-shortcode-container container mx-auto d-flex flex-column flex-lg-row justify-content-between">
    <!-- Slider main container -->
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide"><img src="/portfolio-img/covid-timeline1.jpg" alt=""></div>
        <div class="swiper-slide"><img src="/portfolio-img/covid-timeline2.jpg" alt=""></div>
        <div class="swiper-slide"><img src="/portfolio-img/covid-timeline3.jpg" alt=""></div>
        <div class="swiper-slide"><img src="/portfolio-img/covid-timeline4.jpg" alt=""></div>
        <div class="swiper-slide"><img src="/portfolio-img/covid-timeline5.jpg" alt=""></div>
        <div class="swiper-slide"><img src="/portfolio-img/covid-timeline6.jpg" alt=""></div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <!-- If we need scrollbar -->
      <div class="swiper-scrollbar"></div>
    </div>
  </div>
</section>

<script>
  const swiper = new Swiper('.swiper', {
  // Optional parameters
  direction: 'horizontal',
  loop: true,
  centeredSlides: true,

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },

  // And if we need scrollbar
  scrollbar: {
    el: '.swiper-scrollbar',
  },
});
</script>
