<section class="portfolio-shortcode-section bg-light">
    <div class="portfolio-shortcode-container container">
        <iframe class="portfolio-iframe" border="0"  src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2F6TY8ZCcGIV9MlQqhxBPbkq%2FSnaps-(Copy)%3Fpage-id%3D419%253A197%26type%3Ddesign%26node-id%3D419-199%26viewport%3D493%252C205%252C0.05%26t%3DwfEDr2Xok1IrZo9T-1%26scaling%3Dscale-down-width%26mode%3Ddesign" allowfullscreen></iframe>
    </div>
</section>